<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockFamily</key>
			<string>IPv4</string>
			<key>SockType</key>
			<string>stream</string>
			<key>SockServiceName</key>
			<string>6628</string>
		</dict>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.metacognitive.Microverse.GuestOSService</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/MicroverseGuestOSService</string>
	</array>
</dict>
</plist>
